
$window-border: rgba(0,0,0,0.1);
* {
  box-sizing: border-box;
}
.temp_wrapper{
  margin: 0px auto;
  align-self: center;
}

.window{

  width: 540px;
  height: 303px;

  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 25% 75%;
  grid-template-rows: 25% 75%;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;

}


.head-viren{
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row:1;
  width: 100%;
  height: 100%;
  border-bottom:1px solid $window-border;
  display: -ms-grid;
  display: grid;
  align-items: center;
  justify-items: center;
}

.head-virenapp{
  width: 100%;
  height: 100%;
  border-bottom:1px solid $window-border;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
  -ms-grid-row:1;
  -ms-grid-column:2;
  border-left:1px solid $window-border;

}

/* HEAD LOGO */

.head-viren__logo{
  height: 30px;
  width: 200px;
  background: url(../assets/img/viren-logo.svg) center center no-repeat;
  background-size: auto 30px;
}

.head-viren__logoapp{
    color:$color-text3;
}



/* -------- APP --------- */

.app{
  height: 100%;
  width: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-template-rows: 20% 80%;
  border-left:1px solid $window-border;
}

.v--payroll .app{
  grid-template-rows: 20% 41% 39%;
}



.app-window{
  position: relative;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-flex-item-align: center;
  -ms-grid-column-align:center;
  -ms-grid-row-align: center;
  -ms-grid-row:2;
  -ms-grid-column:1;
  align-self: center;
  width: 92px;
  height: 67px;
  background: url(../assets/img/app-window.svg);
  background-size: 92px auto;
  padding: 20px 10px 0px 10px;
  z-index: 20;


  .rows{
    display: -ms-grid;
    display: grid;
    height:25px;
    width:66px;

    -ms-grid-columns: 25% 45% 15% 15%;
    grid-template-columns: 25% 45% 15% 15%;
    -ms-grid-rows: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-column-gap: 2px;
    grid-row-gap:2px;


    .block{
      background-color: #efefef;
      border-radius: 2px;
    }

    .r1{
      background-color: $color-brand;
      animation: row1 6s linear infinite;
    }
  }

  .block:nth-child(1){-ms-grid-row:1;-ms-grid-column: 1}
  .block:nth-child(2){-ms-grid-row:1;-ms-grid-column: 2}
  .block:nth-child(3){-ms-grid-row:1;-ms-grid-column: 3}
  .block:nth-child(4){-ms-grid-row:1;-ms-grid-column: 4}

  .block:nth-child(5){-ms-grid-row:2;-ms-grid-column: 1}
  .block:nth-child(6){-ms-grid-row:2;-ms-grid-column: 2}
  .block:nth-child(7){-ms-grid-row:2;-ms-grid-column: 3}
  .block:nth-child(8){-ms-grid-row:2;-ms-grid-column: 4}

  .block:nth-child(9){-ms-grid-row:2;-ms-grid-column: 1}
  .block:nth-child(10){-ms-grid-row:2;-ms-grid-column: 2}
  .block:nth-child(11){-ms-grid-row:2;-ms-grid-column: 3}
  .block:nth-child(12){-ms-grid-row:2;-ms-grid-column: 4}

  .block:nth-child(13){-ms-grid-row:2;-ms-grid-column: 1}
  .block:nth-child(14){-ms-grid-row:2;-ms-grid-column: 2}
  .block:nth-child(15){-ms-grid-row:2;-ms-grid-column: 3}
  .block:nth-child(16){-ms-grid-row:2;-ms-grid-column: 4}

}

.v--payroll .app-window{
  align-self: end;
  margin-bottom:4px;
}

.app-calcengine{
  align-self: start;
  align-content: center;
  justify-content: center;
  display: grid;
  justify-items: center;
  align-items: start;
  text-align: center;
  z-index: 20;

  .box{
    width: 92px;
    background-color: #E8E8E8;
    border-radius:5px;
    color:#808080;
    padding: 15px 10px;
    font-size:12px;
    font-weight: bold;

  }
}



@keyframes row1{
  0%,25%{
    -ms-grid-row: 1;
    grid-row: 1;
  }
  26%,50%{
    -ms-grid-row: 2;
    grid-row: 2;
  }
  51%,76%{
    -ms-grid-row: 3;
    grid-row: 3;
  }
  77%,100%{
    -ms-grid-row: 4;
    grid-row: 4;
  }
}


/* -------- BLOCKS --------- */


.blockwrapper{

  -ms-transform:skewX(-16deg);
  transform:skewX(-16deg);
  width: 110px;
  height:24px;
  overflow: hidden;
  -ms-grid-row:2;
  grid-row:2;
  position: absolute;
  left:calc(0% - 55px);
  top: calc(50% - 12px);
  z-index: 10;

  &:after{
    position: absolute;
    content:'';
    width: 100%;
    height:100%;
    left:0;
    top: 0;
    background: linear-gradient(to right, rgba(255,255,255,1) 10%,rgba(255,255,255,0) 31%,rgba(255,255,255,0) 70%,rgba(255,255,255,1) 90%,rgba(255,255,255,1) 100%);
  }

}
.blocks{
  //width: 140px;
  height:24px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 12px 12px 12px 12px 12px 12px 12px 12px 12px 12px 12px 12px 12px 12px 12px 12px 12px 12px;
  grid-template-columns: repeat(15 , 12px);
  grid-column-gap: 3px;
  -ms-transform: translateX(-112px);
  transform: translateX(-112px);
  animation: blocks 4s linear infinite;


  .block{
    background-color: #efefef;
    height:100%;
    border-radius: 4px;

    &:nth-child(8){
      background-color: $color-brand;
    }
  }

}

@keyframes blocks{
  0%{
    transform: translateX(-104px);
  }
  100%{
    transform: translateX(0px);
  }
}



/* -------- SLIDERS --------- */

.sliders{
  height:100%;
  width: 100%;
  position: relative;

  .bars{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;

    justify-items: center;
    width: 40px;
    height:30px;


    position: absolute;
    left: calc(50% - 20px);
    top: calc(50% - 20px);

    .bar{
      height:100%;
      width: 2px;
      border-radius: 4px;
      background-color: $color-icon-dark;
      position: relative;

      &:after{
        position: absolute;
        content:'';
        width: 10px;
        height:10px;
        left:-4px;
        top: -4px;
        background-color: #fff;
        border-radius:6px;
        border: 2px solid $color-icon-dark;
        transition: border-color 0.2s ease;
      }

      &:nth-child(1){
        &:after{
          -ms-transform: translateY(0px);
          transform: translateY(0px);
          animation: movedot1 8s ease-in-out infinite;
        }
      }

      &:nth-child(2){
        &:after{
          -ms-transform: translateY(15px);
          transform: translateY(15px);
        }
      }

      &:nth-child(3){
        &:after{
          -ms-transform: translateY(30px);
          transform: translateY(30px);
          animation: movedot2 8s ease-in-out infinite;
        }
      }

    }

  }

}

@keyframes movedot1{
  0%, 5%, 65%,100%{
    /* BEGIN STATE */
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    border-color: $color-icon-dark;
  }
  25%, 45%{
    /* MIDDLE STATE */
    -ms-transform: translateY(30px);
    transform: translateY(30px);
    border-color: $color-icon-dark;
  }
  6%, 24%, 46%, 64%{
    border-color: $color-brand;
  }
}

@keyframes movedot2{
  0%, 25%, 85%,100%{
    /* BEGIN STATE */
    -ms-transform: translateY(30px);
    transform: translateY(30px);
    border-color: $color-icon-dark;
  }
  45%, 65%{
    /* MIDDLE STATE */
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    border-color: $color-icon-dark;
  }
  26%,44%,66%,84%{
    border-color: $color-brand;
  }

}


/* -------- SETTINGS +  DOTCLOUD --------- */

.settings{
  position: relative;
  height:100%;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20% 80%;
  grid-template-rows: 20% 80%;
  -ms-grid-row:2;


  .dotcloud{
    position: absolute;
    width:183px;
    height:151px;
    top:calc(50% - 75px);
    left:calc(100% - 92px);
    overflow: hidden;
    -ms-grid-row: 2;
    grid-row: 2;
    transform: scale(0.65);

    &:before{
      position: absolute;
      content:'';
      width: 366px;
      height:100%;
      right:0;
      top: 0;
      background:url(../assets/img/dotcloud.svg) right center;
      background-size: auto 151px;
      animation: dotslide 6s linear infinite;
    }

    &:after{
      position: absolute;
      content:'';
      width: 100%;
      height:100%;
      left:0;
      top: 0;
      background: linear-gradient(to right, rgba(255,255,255,1) 10%,rgba(255,255,255,0) 31%,rgba(255,255,255,0) 70%,rgba(255,255,255,1) 90%,rgba(255,255,255,1) 100%);
    }

  }
}

.window .title{
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
  -ms-grid-column-align: center;
  justify-self: center;
  font-size:16px;
  @include for-size(tablet-up){
    font-size:14px;
  }

  -ms-grid-column: 1;
  -ms-grid-row:1;

  font-weight: 600;
  color:rgba(0,0,0,0.2);
  text-transform: uppercase;
}


@keyframes dotslide{
  0%{
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100%{
    -ms-transform: translateX(183px);
    transform: translateX(183px);
  }
}

/* -------- GEARS --------- */
.gears{
  height: 100%;
  width: 100%;
  -ms-grid-row-align: center;
  align-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20% 80%;
  grid-template-rows: 20% 80%;

  -ms-grid-row:2;
  -ms-grid-column:2;

  border-left: 1px solid $window-border;
}

.gearbox{
  width: 60px;
  height:100px;
  align-self: center;
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
  justify-self: center;
  position: relative;
}


.gear-1{
  position: absolute;
  top:0;
  left:0
}
.gear-2{
  position: absolute;
  top: calc(50% - 15px);
  right: 0;
}
.gear-3{
  position: absolute;
  bottom:0;
  left:0;
}

.gears .gear{
  fill: #3C5259;
  animation: gears 5s linear infinite;
}



.gears .gear-2{
  fill: $color-brand;
  animation: gears 5s linear infinite reverse;
}

@keyframes gears{
  0%{
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100%{
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.no--payrollengine{
    .app{
        grid-template-rows: 20% 80%;
    }
    .app-calcengine{
        display: none;
    }

    .app-window{
        align-self: center;
    }
}