.footer{
  background-color: $color-bg-babyblue;
  
  
  @include for-size(tablet-up){
    background-image: url(../assets/img/footer-decoreator.svg);
    background-size: 370px 975px;
    background-position: center center;
    background-repeat: no-repeat;

  }


  .footer__wrapper{
    max-width: $maxwidth;
    margin: 0 auto;
    padding: 40px;

    display: grid;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-row-gap:60px;

    @include for-size(tablet-portrait-up){
      padding-top: 60px;
      padding-bottom: 60px;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-column-gap:60px;
    };
    @include for-size(desktop-up){
      padding: 100px 0px 100px 0px;
      grid-column-gap:300px;
    };
  }
}


.footer__contact{
  -ms-grid-column: 1;
}

.footer__about{
  -ms-grid-column: 2;
}



.footer__title{
  margin: 0px 0px 30px 0px;
  font-size:26px;
  
  @include for-size(tablet-up){
    font-size:28px;
  }

  @include for-size(desktop-up){
    font-size:40px;
  }
}


.footer__text{
  color: $color-text2;
  font-weight: 400;

  line-height:140%;
  font-size: 16px;

  @include for-size(tablet-landscape-up){
    font-size:18px;
  }

  @include for-size(desktop-up){
    font-size:20px;

  }
}


.footer__cta-wrap{
  display: grid;
  display: -ms-grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-row-gap:15px;
  
  @include for-size(tablet-landscape-up){
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  }

}

.footer__cta.email{
  -ms-grid-column: 2;
}

.footer__cta{
  .label{
    font-weight: 500;
    font-size:14px;
    color:$color-brand;
  }

  .value{
    color:$color-text1;
    font-size:18px;
    line-height:30px;

    @include for-size(tablet-landscape-up){
      font-size:22px;
      line-height:40px;
    }
  }

}


/* IE execptions */
@media all and (-ms-high-contrast:none)
{
  .footer__contact{ padding-right: 40px; } /* IE10 */
  *::-ms-backdrop, .footer__contact{ padding-right: 40px; } /* IE11 */

  .footer__about{ padding-left: 40px; } /* IE10 */
  *::-ms-backdrop, .footer__contact{ padding-left: 40px; } /* IE11 */

}

.metafooter{
    text-align: center;
    height: 100px;
    border-top:1px solid rgba(0,0,0,0.1);
    line-height: 50px;
    a{
        font-size: 15px;
        text-decoration: none;
        color:rgba(0,0,0,0.5);
        &:hover{
            text-decoration: underline;
            color:rgba(0,0,0,0.8);
        }
    }
}


