$header-height-desktop: 8rem;
$header-height-tablet: 8rem;
$header-height-mobile: 6rem;

.colorband{
  position: relative;
  overflow: hidden;
  background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1));

  &:after{
    position: absolute;
    content:"";
    width: 1000%;
    height: 1000%;
    top:50%;
    left:-10%;
    opacity: 0.04;
    overflow: hidden;
    transform: rotate(-30deg);
    transform-origin: 0;
    background: url("../assets/img/pattern-1.png");
    background-position: center center;
    z-index: -1;
    background-size: 200px auto ;
  }

}


.l-header{
  position: relative;
  display: -ms-grid;
  display:grid;
  z-index: 1;
  grid-template-columns: auto 1fr;
  justify-items: stretch;
  margin: 0 2rem;

  @include for-size(tablet-up){
    margin: 0 4rem;
  }

  @include for-size(desktop-up){
    margin: 0 4rem;
  }

}

.l-header__logo{
  -ms-grid-column: 1;
}

.l-header__nav{
  -ms-grid-column: 2;
}


.logo{
  align-self: center;
  justify-self:start;
  -ms-grid-column-align:center;

  @include for-size(desktop-up){
    justify-self:start;
    -ms-grid-column-align:start;
  }


  a{
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    width: 70px;
    height:27px;
    background: url(../assets/img/viren-logo-bluegray.svg) no-repeat center center;
    background-size: 70px auto;

    @include for-size(tablet-up){
      width: 90px;
      height:35px;
      background-size: 90px auto;
    }

    @include for-size(desktop-up){
      width: 109px;
      height:49px;
      background-size: 80px auto;
      background-size: 109px auto;
    }
  }



}

.top-navigation{
  justify-self: end;
  display: -ms-inline-grid;
  display: inline-grid;
  justify-items: stretch;
  -ms-grid-columns: 25% 25% 25% 25%;
  grid-column-gap: 2rem;

  @include for-size(desktop-up){
    grid-column-gap: 4rem;
  }
}

.top-navigation__item{
  text-align: center;
  align-self: center;
  line-height: $header-height-mobile;
  -ms-grid-row:1;
  grid-row:1;
  @include for-size(tablet-up){
    text-align: right;
    line-height: $header-height-tablet;
  }

  @include for-size(desktop-up){
    line-height: $header-height-desktop;
  }

}


.top-navigation__item a{
  color:$color-text1;
  text-decoration: none;
  font-weight: 400;
  font-size:14px;

  @include for-size(tablet-portrait-up){
    font-size:16px;
    font-weight:500;
  };

  @include for-size(desktop-up){
    font-size:18px;
  };
}


.top-navigation__item.item--active{
  border-top: 2px solid $color-cta-grayish;
  a{
    color: $color-cta-grayish;
  }
}


.top-navigation>div:nth-child(1){-ms-grid-row: 1;  -ms-grid-column: 1;}
.top-navigation>div:nth-child(2){-ms-grid-row: 1;  -ms-grid-column: 2;}
.top-navigation>div:nth-child(3){-ms-grid-row: 1;  -ms-grid-column: 3;}
.top-navigation>div:nth-child(4){-ms-grid-row: 1;  -ms-grid-column: 4;}
.top-navigation>div:nth-child(5){-ms-grid-row: 1;  -ms-grid-column: 5;}
.top-navigation>div:nth-child(6){-ms-grid-row: 1;  -ms-grid-column: 6;}