.hero {
  text-align: center;
}

.hero__title{
  margin: 0;
  font-size: 1.8rem;
  @include for-size(desktop-up){
    margin-top: 3rem;
    font-size: 3rem;
  }
}

.hero__description{

  color: $color-text2;
  font-weight:300;

  margin-top: 1.5rem;
  font-size: 1.2rem;
  max-width: 100%;
  @include for-size(desktop-up){
    margin-top: 2rem;
    font-size: 1.7rem;
    padding: 0 10%;
  }

}

.hero__buttons{
  margin-top: 2rem;
  a{
    cursor: pointer;
  }
}



.hero-image{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  font-weight: 300;
  font-style: italic;

  margin: 2rem 1rem 0 1rem;
  background: url(../assets/img/hero-image-mobile.svg) top center no-repeat;
  background-size: 100% auto;
  padding-top: 10rem;

  @include for-size(tablet-up){
    max-width: 80%;
    padding-top: 30%;
    margin: 2rem auto;
    background: url(../assets/img/hero-image-desktop.svg) top center no-repeat;
    background-size: 100% auto;
    grid-column-gap: 3rem;
  }

  @include for-size(desktop-up){
    margin: 4rem auto;
    max-width: 50rem;
    grid-column-gap: 4rem;
  }

  &__one, &__two, &__three{
    position: relative;
  }

  &__one:after, &__two:after, &__three:after{
    color: #ccc;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    top: -20px;
    left:0px;
  }

  &__one{
    text-align: left;
    &:after{
      content:"1";
    }
  }

  &__two{
    text-align: center;
    &:after{
      content:"2";
      left: 50%;
    }
  }

  &__three{
    text-align: right;
    &:after{
      right: 0;
      content:"3";
    }
  }

}

