.hero {
  @include margin-section;
  text-align: center;
}

.hero__title{
  margin: 0;
  font-size: 24px;
  @include for-size(tablet-up){
    font-size: 34px;
  }
  @include for-size(desktop-up){
    font-size: 40px;
  }
}

.hero__description{

  color: $color-text2;
  font-weight:300;

  margin-top: 15px;
  font-size: 20px;
  max-width: 100%;
  @include for-size(desktop-up){
    margin-top: 20px;
    font-size: 27px;
    padding: 0 10%;
  }

}

.hero__buttons{
  margin-top: 20px;
  @include for-size(tablet-up){
    margin-top: 30px;
  }




  a{
    cursor: pointer;
  }
}



.hero-image{
  @include margin-section;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  text-align: center;
  font-weight: 300;
  font-style: italic;
  margin: 40px;


  @include for-size(desktop-up){
    margin: 80px auto 40px auto;
    max-width: 1200px;
    grid-column-gap: 40px;
    font-size: 19px;
  }

  &__visual{
    grid-row: 1;
    grid-column: 1 / span 3;

    img{
       width: 100%;
     }

    .visual--desktop{
      display: none;
    }

    @include for-size(tablet-up){
      .visual--desktop{display: block;}
      .visual--mobile{display: none;}
    }

  }

  &__one, &__two, &__three{
    position: relative;
    grid-row: 2;
  }

  &__one:after, &__two:after, &__three:after{
    color: #ccc;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    top: -20px;
    left:0px;
  }

  &__one{
    text-align: left;
    &:after{
      content:"1";
    }
  }

  &__two{
    text-align: center;
    &:after{
      content:"2";
      left: 50%;
    }
  }

  &__three{
    text-align: right;
    &:after{
      right: 0;
      content:"3";
    }
  }

}

