.l-wrapper{
  max-width: $maxwidth;
  margin: 0 auto;
  padding: 0px 20px;
  @include for-size(tablet-portrait-up){
    padding: 0px 40px;
  };
  @include for-size(desktop-up){
    padding: 0px;
  };
}


.l-contentcontainer{
  margin: 0 auto;
  width: calc(100% - 40px);
  max-width: 880px;

}


.page-home{
}