.refs{
  @extend .l-wrapper;

  max-width: 60rem;

  margin-top:60px;
  margin-bottom:3rem;
  @include for-size(tablet-up){
    margin-bottom: 5rem;
  }


  @include for-size(tablet-landscape-up){
    margin-top:70px;
    background-color: transparent;
  }

  &:hover{
    .refs__strip{
      opacity: 1;
      filter:grayscale(0%);
    }
  }

}

.refs__title{
  font-size:20px;
  color: $color-text1;
  font-weight: 600;
  text-align: center;
  margin: 0px 0px 25px 0px;
}

.refs__strip{
  display: -ms-grid;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.refs__logo{
  text-align: center;

  &.logo__sd img{width: 70px; }
  &.logo__bexpertive img{width: 90px; margin-top: 3px;}
  &.logo__xerius img{width: 78px;}


  @include for-size(tablet-up){
    &.logo__sd img{width: 98px; height: 35px}
    &.logo__bexpertive img{width: 150px;}
    &.logo__xerius img{width: 78px;}
  }

}

.logo__bexpertive{
  margin-top: 3px;

}


.refs-bar__logo:nth-child(1), .refs__logo:nth-child(2){

  @include for-size(tablet-landscape-up){
    margin-bottom:0px;
  }
}

