.refs{
  @extend .l-wrapper;
  @include margin-section;

  max-width: 600px;

  filter: grayscale(1);
  opacity: 0.8;

  &:hover{
    filter: grayscale(0);
    opacity: 1;
  }
}


.refs__strip{
  display: -ms-grid;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.refs__logo{
  text-align: center;

  &.logo__sd img{width: 70px; }
  &.logo__bexpertive img{width: 90px; margin-top: 3px;}
  &.logo__xerius img{width: 78px;}


  @include for-size(tablet-up){
    &.logo__sd img{width: 98px; height: 35px}
    &.logo__bexpertive img{width: 150px;}
    &.logo__xerius img{width: 78px;}
  }

}

.logo__bexpertive{
  margin-top: 3px;

}


.refs-bar__logo:nth-child(1), .refs__logo:nth-child(2){

  @include for-size(tablet-landscape-up){
    margin-bottom:0px;
  }
}

