.projects{
  @extend .l-wrapper;
  margin-top: 100px;
  @include for-size(tablet-landscape-up){
    margin-top: 80px;
  }
}

.projects__image{
  position: relative;
  text-align: center;
  margin: 0px 0px 30px 0px;
  overflow:hidden;

  @include for-size(tablet-landscape-up){
    margin: 0;
  }

  img{
    width: 100%;
    @include for-size(tablet-landscape-up){
        width: 90%;
    }
    position: relative;
  }
}



.case--speed .projects__image img{
  left:25%;
  @include for-size(tablet-up){
    left: auto;
  }
}

.case--history .projects__image img{
  width: 70%;
}

.projects__case{
  margin-bottom:50px;
  text-align: center;

  @include for-size(tablet-portrait-up){
    margin-bottom:80px;
    text-align: left;
  }

  @include for-size(tablet-landscape-up){
    display:-ms-grid;
    display:grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column-gap: 60px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;


    .projects__image{
      align-self: center;
    }

    .projects__body{
       grid-row: 2;
       grid-column:2;
     }

    .projects__title{
      grid-row: 1;
      grid-column:2;
    }


    @include for-size(tablet-landscape-up){
      grid-template-rows: auto auto;
    }
  }
}

.projects__title{
  font-size: 20px;
  color: $color-text1;
  margin: 0px 0px 30px 0px;
  align-self: end;
  @include for-size(tablet-landscape-up){
    font-size: 26px;
  }
}

.projects__body{
  font-size:17px;
  color:$color-text2;
  line-height:150%;
  margin: 0;
  align-self: start;
  @include for-size(tablet-up){
    font-size:20px;
  }
}

.projects__label{
  -ms-grid-row:1;
  grid-row:1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;

  text-align: center;
  font-size:15px;
  color: $color-text3;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 5px;

  position: relative;

  /* Label decoration
  &:after{
    content:'';
    position: absolute;
    width: 60px;
    height:1px;
    left: calc(50% - 30px);
    top: 50%;
    background-color: rgba(0,0,0,0.15);
    transform: rotate(106deg);
  }
  */

}

/* ODD/EVEN LEFT/RIGHT */
.projects__case:nth-child(odd){
  @include for-size(tablet-landscape-up){
    text-align: left;
    .projects__title{
      grid-column: 2;
      grid-row:1;
      -ms-grid-column: 2;
      -ms-grid-row: 1;
    }

    .projects__body{
      grid-column: 2;
      grid-row:2;
      -ms-grid-column: 2;
      -ms-grid-row: 2;
    }

    .projects__image{
      grid-column: 1;
      grid-row:1 / span 2;
      -ms-grid-column: 1;
      -ms-grid-row: 1;
      -ms-grid-row-span: 2;
    }
  }
}


.projects__case:nth-child(even){
  @include for-size(tablet-landscape-up){
    text-align: right;
    .projects__title{
      grid-column: 1;
      grid-row:1;
      -ms-grid-column: 1;
      -ms-grid-row: 1;
    }

    .projects__body{
      grid-column: 1;
      grid-row:2;
      -ms-grid-column: 1;
      -ms-grid-row: 2;
    }

    .projects__image{
      grid-column: 2;
      grid-row:1 / span 2;
      -ms-grid-column: 2;
      -ms-grid-row: 1;
      -ms-grid-row-span: 2;
    }
  }
}

/* IE execptions */
@media all and (-ms-high-contrast:none)
{
  .projects__case:nth-child(odd){
    .projects__image{ padding-right: 60px; } /* IE10 */
    *::-ms-backdrop, .projects__image { padding-right: 60px; } /* IE11 */
  }

  .projects__case:nth-child(even){
    .projects__image { padding-left: 60px; } /* IE10 */
    *::-ms-backdrop, .projects__image { padding-left: 60px; } /* IE11 */
  }

}