$maxwidth:1200px;

$color-brand-light: #57C8B9;
$color-brand: #41CFF6;
$color-brand-dark: #006580;

$color-bg-babyblue: #D3F5EF;

$color-cta: #D95068;
$color-cta-grayish: #136277;
$color-cta-alt: #EF6057;

$color-text1: #2B2B2B; //Dark - Titles, heavy contrast
$color-text2: rgba(0,0,0,0.6); // Slightly lighter, body text
$color-text3: #8D9595; // Lighter, meta info

$color-border: #D9D9D9;
$color-icon-dark: #3C5259;

$font1:"Enzo",'Roboto',Arial, Sans Serif;


