// Standards & config
@import "_normalize.scss";
@import "_fonts.scss";
@import "_mixins.scss";
@import "_vars.scss";


// Layout and modules
@import "_layout.scss";
@import "_general.scss";
@import "_header.scss";
@import "_page.scss";
@import "_projects.scss";
@import "_hero.scss";
@import "_cases.scss";
@import "_animate-window.scss";
@import "_footer.scss";



$viren-blue: #136277;
$link-color: #359AB6;
$bootstrap-md: 768px;
$bootstrap-lg: 992px;

// TODO put in separate files

body {
    font-size: 1.1rem !important;
}

a, a:hover, a:focus, a:visited {
    color: $link-color !important;
    text-decoration: none !important;
}

.new-colorband {
    background-color: transparent;
    background-image: url(../assets/img/new-repearbars.svg);
    color: rgba(0,0,0,0.03);
    padding: 0;
}

.viren-logo {
    a {
        background: url(../assets/img/viren-logo.svg) no-repeat left center;
        width: 100px;
    }
}

.viren-nav {
    a {
        display: inline-block;

        &, &:hover, &:focus, &:visited {
            color: #2B2B2B;
            text-decoration: none;
        }
    
        &.active {
            color: $viren-blue;
            border-top: 2px solid $viren-blue;
            padding-top: 8px !important;
        }
    }
}

@media (min-width: $bootstrap-md) {
// @include media-breakpoint-up(sm) {
    .viren-nav {
        a.active {
            padding-top: 54px !important;
        }
    }
}

.viren-hero {

    color: #565656;

    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 1.5rem;
        width: 100%;
    
        @media (min-width: $bootstrap-lg) {
            width: 850px;
        }
    }
}

.viren-features {

    width: 100%;
    
    @media (min-width: $bootstrap-md) {
        width: 700px;
    }

    img {
        width: 75px;
    }
    
    p {
        font-size: 1.3rem;
        color: #697C81;
    }
}

.btn-secondary {
    background-color: #E4E4E4 !important;
    border-color: #E4E4E4 !important;
    color: #212529 !important;

    &:hover {
        background-color: darken(#E4E4E4, 10%) !important;
    }
}

.viren-references {
    img {
        width: 100px;
        margin: 50px;
    }
}

.viren-numbers {

    &>div {
        width: 230px;
    }

    h2 {
        color: $viren-blue;
        font-weight: 700;
    }
}

.footer__cta{
    .label{
      color: #8FA8AE;
    }
  
    .value{
      color: $link-color;
    }
  
  }
  