<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <remove fileExtension=".woff"/>
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
        </staticContent>
        <rewrite>
          <rules>
            <rule name="domain redirect" stopProcessing="true">
              <match url="(.*)" />
              <conditions>
                <add input="{HTTP_HOST}" pattern="^(((www.)?viren.(app|nl|biz|work))|(viren.azurewebsites.net))$" />
              </conditions>
               <action type="Redirect" 
                url="{MapProtocol:{HTTPS}}://www.viren.be/{R:1}" />
            </rule>
            <rule name="Redirect to www" stopProcessing="true">
              <match url="(.*)" />
              <conditions trackAllCaptures="false">
                <add input="{HTTP_HOST}" pattern="^viren.be$" />
              </conditions>
              <action type="Redirect" 
                url="{MapProtocol:{HTTPS}}://www.viren.be/{R:1}" />
            </rule>
            <rule name="HTTPS force" enabled="true" stopProcessing="true">
             <match url="(.*)" />
             <conditions>
                <add input="{HTTPS}" pattern="^OFF$" />
             </conditions>
                <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
            </rule>
          </rules>
          <outboundRules>
            <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
                <match serverVariable="RESPONSE_Strict_Transport_Security"
                    pattern=".*" />
                <conditions>
                    <add input="{HTTPS}" pattern="on" ignoreCase="true" />
                </conditions>
                <action type="Rewrite" value="max-age=31536000" />
            </rule>
          </outboundRules>
          <rewriteMaps>
            <rewriteMap name="MapProtocol">
              <add key="on" value="https" />
              <add key="off" value="http" />
            </rewriteMap>
          </rewriteMaps>
        </rewrite>
        <httpProtocol>
          <customHeaders>
           <add name="X-Frame-Options" value="DENY" />
           <add name="X-XSS-Protection" value="1; mode=block" />
          </customHeaders>
        </httpProtocol>
    </system.webServer>
      <system.web>
    <authorization>
      <allow users="*"/>
    </authorization>
  </system.web>
</configuration>
